langchain
openai
python-dotenv
docx2txt
python-docx
sendgrid
openai-agents
ipython
PyPDF2
docx
streamlit
pydot
networkx
langgraph
networkx
matplotlib
# using for text extractio from images
pdfplumber
pillow